/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: OpenSans;
    src: url('../fonts/open_sans/OpenSans.woff'); 
  }
  
  @font-face {
    font-family: OpenSans-semibold;
    src: url('../fonts/open_sans/OpenSans-semibold.woff'); 
  }
  
  @font-face {
    font-family: OpenSans-light;
    src: url('../fonts/open_sans/OpenSans-light.woff'); 
  }
  
  @font-face {
    font-family: OpenSans-bold;
    src: url('../fonts/open_sans/OpenSans-semibold.woff'); 
  }